section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin-left: 0 10px;
    border-radius: 20px;
    
}
.button {
    background-color: #4CAF50;
}

body{
background-color: rgb(6, 6, 63);
font-family: 'Lato', sans-serif;
}

h1, h4 {
    color: oldlace;
    text-align: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2{
    color: oldlace;
}
ul{
    color: oldlace;
}
li{
    color: oldlace;
}
p{
    color: oldlace;
    overflow-wrap: break-word;
}

.hidden {
    display: none;
}